<footer class="footer">
    <div class="container">
        <div class="row footer__wrap">
            <div class="footer__col1">
                <h4>Услуги</h4>
                <ul class="footer__menu">
                    <li><a href="#" title="Интернет магазины">Интернет магазины </a></li>
                    <li><a href="#" title="Разработка CRM">Разработка CRM</a></li>
                    <li><a href="#" title="CEO">CEO</a></li>
                    <li><a href="#" title="Дизайн">Дизайн</a></li>
                </ul>
            </div>

            <div class="footer__col2">
                <h4>Компания</h4>
                <ul class="footer__menu">
                    <li><a href="#" title="О нас">О нас</a></li>
                    <li><a href="#" title="Контакты">Контакты</a></li>
                    <li><a href="#" title="Политика">Политика</a></li>
                    <li><a href="#" title="Портфолио">Портфолио</a></li>
                    <li><a href="#" title="Карта сайта">Карта сайта</a></li>
                </ul>
            </div>

            <div class="footer__col3">
                <div class="d-flex footer__create">
                    <h4>Заинтересованы <br>
                        в создании проекта?</h4>
                    <a href="#" class="btn btn-blue">Отправить заявку</a>
                </div>

                <div class="footer__copy">
                    <a href="" class="footer__logo">
                        <img src="img/logo.svg" alt="">
                    </a>

                    <p>© 2020 - Все права защищены <a href="#" title="SKYLEX">SKYLEX™</a></p>
                </div>
            </div>

            <div class="footer__col4">
                <ul class="footer__soc">
                    <li><a href="#" class="icon-instagram" title="instagram"></a></li>
                    <li><a href="#" class="icon-youtube" title="youtube"></a></li>
                    <li><a href="#" class="icon-facebook" title="facebook"></a></li>
                    <li><a href="#" class="icon-linkdin" title="linkdin"></a></li>
                    <li><a href="#" class="icon-twitter" title="twitter"></a></li>
                </ul>

                <div class="footer__contact">
                    <h6>Контакты</h6>
                    <a href="tel:(093) 92-888-94" class="link-phone" title="(093) 92-888-94">(093) 92-888-94</a>
                    <a href="mailto:alexander.gansky@gmail.com" class="link-mail" title="alexander.gansky@gmail.com">alexander.gansky@gmail.com</a>
                </div>
            </div>

            <div class="footer__col5">
                <div class="footer__copy">
                    <a href="" class="footer__logo">
                        <img src="img/logo.svg" alt="">
                    </a>

                    <p>© 2020 - Все права защищены <a href="#" title="SKYLEX">SKYLEX™</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="cookie">
    <div class="cookie__wrap">
        <p>Данный сайт использует файлы cookie, которые помогают нам создать максимально удобные для посетителя условия пользования сайтом.
            Используя этот сайт, Вы соглашаетесь с размещением cookie-файлов.</p>

        <a href="#" class="btn btn-white js-cookie-close">Принять и закрыть</a>
    </div>
</div>
