<div class="form-call">
    <div class="container">
        <div class="form-call__wrap">
            <form>
                <h2>Отправить резюме</h2>

                <div class="form-group">
                    <label class="d-none">Ваше имя*</label>
                    <input type="text" placeholder="Ваше имя*" class="form-group__input">
                </div>

                <div class="form-group">
                    <label class="d-none"></label>
                    <input type="tel" placeholder="+38(___) ___-__-__" class="form-group__input">
                </div>

                <div class="form-group">
                    <label class="d-none">Email*</label>
                    <input type="email" placeholder="Email*" class="form-group__input">
                </div>

                <div class="form-group">
                    <label class="d-none">Ваше резюму*</label>
                    <input type="email" placeholder="Ваше резюму*" class="form-group__input">
                </div>

                <button type="submit" class="btn btn-blue mx-auto">Отправить резюме</button>
            </form>

            <div class="form-call__info">
                <a href="tel:(093) 92-888-94" class="link-phone">(093) 92-888-94</a>
                <a href="mailto:alexander.gansky@gmail.com" class="link-mail">alexander.gansky@gmail.com</a>
            </div>
        </div>
    </div>
</div>
