<header class="header">
    <div class="container">
        <div class="header__wrap">
            <a href="index.html" class="header__logo">
                <img src="img/logo.svg" alt="logo">
            </a>

            <ul class="header__menu">
                <li class="active">
                    <a href="services.html">Услуги</a>
                </li>
                <li>
                    <a href="price.html">Цены</a>
                </li>
                <li>
                    <a href="portfolio.html">Портфолио</a>
                </li>
                <li>
                    <a href="about.html">О нас</a>
                </li>
                <li>
                    <a href="blog.html">Блог</a>
                </li>
                <li>
                    <a href="vacancies.html">Вакансии</a>
                </li>
                <li>
                    <a href="contact.html">Контакты</a>
                </li>
            </ul>

            <div class="header__contact">
                <a href="tel:(093) 92-888-94" class="link-phone">(093) 92-888-94</a>
                <a href="mailto:alexander.gansky@gmail.com" class="link-mail">alexander.gansky@gmail.com</a>
            </div>

            <div class="header__languages">
                <select class="select2">
                    <option>RU</option>
                    <option>ENG</option>
                </select>
            </div>

            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
