.about {
  &-banner {
    position: relative;
    margin-bottom: 130px;
    padding-bottom: 44.96%;

    img {
      @include full-img;
      @include p-absolute
    }
  }

  &-partners {
    &__wrap {
      align-items: stretch;
      margin-bottom: 100px;

      .container {
        @media screen and (max-width: 768px) {
          max-width: 100%;
        }
      }

      .row {
        @media screen and (max-width: 992px) {
          justify-content: center;
        }
        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      .col-4 {
        align-self: stretch;
        margin-bottom: 30px;
        @media screen and (max-width: 992px) {
          width: calc(100% / 3);
        }
      }

      .btn {
        margin-top: 40px;
      }
    }

    &__item {
      background-color: $white-color;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      padding: 40px 10px;
      transition: all 0.25s;
      height: 100%;

      @media screen and (max-width: 768px) {
        width: 280px;
        height: 228px;
      }

      h5 {
        @extend %h4;
        margin: 0;
        color: $blue-color;

        @media screen and (max-width: 1200px) {
          font-size: 22px;
        }

        @media screen and (max-width: 768px) {
          font-size: 24px;
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0px 15px 20px rgba(49, 124, 192, 0.1);
      }
    }

    &__icon {
      margin-bottom: 20px;
      height: 100px;

      img {
        display: block;
        height: 100%;
        margin: 0 auto;
      }
    }

    &__slider {
      position: relative;
      display: none;
      margin-bottom: 27px;
      padding-bottom: 32px;
      @media screen and (max-width: 768px) {
        display: block;
      }

      .swiper-slide {
        width: 280px;
      }
    }
  }

  &-team {
    margin-bottom: 100px;
    .container {
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }

    &__slider {
      position: relative;
      display: none;

      @media screen and (max-width: 768px) {
        display: block;
      }

      .swiper-slide {
        @media screen and (max-width: 768px) {
          width: 280px;
        }
      }
    }

    &__wrap {
      @media screen and (max-width: 1200px) {
        justify-content: center;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }

      .col-4 {
        @media screen and (max-width: 1200px) {
          width: calc(100% / 3);
        }
      }
    }

    &__item {
      padding: 30px 20px;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      background-color: $white-color;
      margin-bottom: 30px;
      @media screen and (max-width: 992px) {
        padding: 20px;
      }
      @media screen and (max-width: 768px) {
        width: 280px;
        height: 441px;
      }

      &:hover {
        cursor: pointer;
        box-shadow: 0px 15px 20px rgba(49, 124, 192, 0.1);
      }

      p {
        @extend %text18;
        font-weight: 300;
        margin-bottom: 8px;
        @media screen and (max-width: 1400px) {
          height: calc(18px * 1.4 *2);
        }
        @media screen and (max-width: 1200px) {
          height: calc(18px * 1.4);
        }
        @media screen and (max-width: 992px) {
          font-size: 16px;
          line-height: 1.2;
          height: calc(16px * 1.2 *2);
        }
        @media screen and (max-width: 768px) {
          height: calc(16px * 1.2);
        }
      }

      h6 {
        @extend %text20;
        font-weight: 400;
        color: $blue-color;
        margin-bottom: 5px;
        @media screen and (max-width: 992px) {
          font-size: 18px;
          line-height: 1.2;
          margin-bottom: 10px;
        }
      }
    }

    &__image {
      position: relative;
      overflow: hidden;
      padding-bottom: 121.51%;
      margin-bottom: 10px;

      img {
        @include full-img;
        @include p-absolute;
      }
    }
  }

  &-advantages {
    &__wrap {
      margin-bottom: 20px;
    }

    &__item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;
    }

    &__number {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 20px;
      text-align: center;
      color: $white-color;
      background-color: $blue-gray-color;
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      padding: 5px;
      font-family: $font-Proxima;
    }

    &__content {
      h6 {
        @extend %text20;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        @extend %text20;
        margin-bottom: 0;
      }
    }
  }

  &-text {
    margin-bottom: 100px;

    h3 {
      font-family: $font-Proxima;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: $blue-color;
      margin-bottom: 40px;
      text-align: center;
    }

    h5 {
      @extend %h4;
      color: $blue-color;
      margin-bottom: 6px;
    }

    p {
      @extend %text20;
      margin-bottom: 30px;
    }
  }
}
