.blog {
  padding-top: 100px;

  &__tabs {
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: 0;
    @media screen and (max-width: 992px) {
      margin-bottom: 25px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__tab {
    display: block;
    text-decoration: none;
    color: $white-color;
    padding: 8px 20px;
    @extend %text18;
    background: $black-color2;
    border-radius: 23px;
    margin-right: 20px;
    margin-bottom: 20px;
    flex-shrink: 0;
    transition: all 0.25s;
    @media screen and (max-width: 992px) {
      margin-right: 15px;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 768px) {
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      color: $white-color;
      background-color: $blue-color;
      text-decoration: none;
    }

    &.active {
      color: $white-color;
      background-color: $blue-color;
    }
  }

  &__wrap {
    .col-3 {
      @media screen and (max-width: 992px) {
        width: 50%;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }

  &__item {
    display: block;
    background: $white-color;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 30px 20px;
    margin-bottom: 30px;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.25s;
    @media screen and (max-width: 768px) {
      padding: 20px;
    }

    $f: &;

    &:hover {
      cursor: pointer;
      text-decoration: none;
      box-shadow: 0px 15px 20px rgba(49, 124, 192, 0.1);

      #{$f}--more {
        &:after {
          transform: translateX(15px);
        }
      }
    }

    &--image {
      position: relative;
      padding-bottom: 70%;
      margin-bottom: 15px;
      overflow: hidden;

      img {
        @include p-absolute;
        @include full-img;
      }
    }

    &--info {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $black-color;

      time {
        @extend %text18;
        display: block;
        flex-shrink: 0;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }

    &--type {
      @extend %text18;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    &--content {
      height: 175px;
      @media screen and (max-width: 576px) {
        height: auto;
      }

      h6 {
        font-family: $font-Proxima;
        font-weight: bold;
        font-size: 24px;
        line-height: 1;
        color: $blue-color;
        margin-bottom: 15px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @media screen and (max-width: 768px) {
          font-size: 22px;
        }
        @media screen and (max-width: 576px) {
          font-size: 24px;
        }
      }
    }

    &--more {
      display: table;
      text-decoration: none;
      transition: all 0.25s;
      @extend %text20;
      font-weight: 500;
      line-height: 23px;
      color: $blue-color;
      position: relative;

      &:after {
        @include before;
        width: 31px;
        height: 16px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -45px;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("../img/link-arrow.svg");
        background-size: contain;
        transition: all 0.25s;
      }
    }
  }
}


.breadcrumbs {
  margin-bottom: 30px;

  &__list {
    @include ul;
    display: flex;
    align-items: center;
  }
}

.post {
  padding-top: 60px;
  &__title {
    margin-bottom: 60px;
    h1 {
      font-weight: bold;
      font-size: 64px;
      line-height: 78px;
      font-family: $font-Proxima;
      color: $blue-color;
      margin-bottom: 0;
    }
  }

  &__content {
    margin-bottom: 90px;

    h2 {
      font-weight: bold;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 30px;
      font-family: $font-Proxima;
      color: $blue-color;
    }

    h3 {
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 10px;
      font-family: $font-Proxima;
      color: $black-color;
    }

    p {
      @extend %text20;
      text-align: justify;
      margin-bottom: 10px;
    }

    b {
      font-weight: bold;
    }

    h6 {
      margin-top: 30px;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 10px;
      font-family: $font-Proxima;
    }

    ul:not([class]) {
      @include ul;
      li {
        padding-left: 13px;
        box-sizing: border-box;
        border-left: 3px solid $blue-color;
        margin-bottom: 10px;
        @extend %text20;
        text-align: justify;
      }
    }

    &--menu {
      p {
        @extend %text20;
        margin-bottom: 7px;
      }

      b {
        font-weight: 700;
      }

      ol {
        counter-reset: li;
        margin-bottom: 30px;
        li {
          text-decoration: underline;
          color: $blue-color;
          transition: all 0.25s;

          &:before {
            content: counters(li,".") ". ";
            counter-increment: li;
            @extend %text20;
            color: $blue-color;
          }

          &:hover {
            color: $text-color;
            &:before {
              color: $text-color;
            }

            a {
              color: $text-color;
            }
          }
        }

        li a {
          @extend %text20;
          text-decoration: none;
          color: $blue-color;
        }
      }
    }

    &--image {
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }

    &--block {
      margin-bottom: 60px;
    }

    &--banner {
      margin-bottom: 30px;
      margin-top: 30px;
      height: 331px;
      position: relative;
      overflow: hidden;

      img {
        @include full-img;
        @include p-absolute;

      }
    }
  }

  &__interesting {
    margin-bottom: 100px;
  }
}
