html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  font-family: $font-Roboto;
  font-weight: 400;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: repeat;
  background-image: url("../img/page-bg.png");
}

.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1310px;
  margin: auto;
  @media screen and (max-width: 1400px) {
    max-width: 1170px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 990px;
  }
  @media screen and (max-width: 992px) {
    max-width: 750px;
  }
  @media screen and (max-width: 768px) {
    max-width: 570px;
  }
  @media screen and (max-width: 576px) {
    max-width: none;
  }
}

.row {
  margin: 0 -15px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.col-2 {
  width: 50%;
  padding: 0 15px;
  flex-shrink: 0;
}

.col-3 {
  width: calc(100% / 3);
  padding: 0 15px;
  flex-shrink: 0;
}

.col-4 {
  width: calc(100% / 4);
  padding: 0 15px;
  flex-shrink: 0;
}

.col-60 {
  width: calc(100% / 3 * 2);
  padding: 0 15px;
  flex-shrink: 0;
}

.title-block {
  margin-bottom: 34px;

  h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    font-family: $font-Proxima;
    color: $blue-color;
    margin: 0 0 6px;
  }

  h2 {
    @extend %h2;
    font-family: $font-Proxima;
    color: $blue-color;
    margin-bottom: 6px;
  }

  h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    font-family: $font-Proxima;
    color: $blue-color;
    margin-bottom: 10px;
  }

  p {
    @extend %text20;
    color: $black-color;
    max-width: 1070px;
    margin: 0 auto;
  }
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
  align-items: flex-start;
}


.pagination {
  margin-top: 80px;
  margin-bottom: 130px;
  @media screen and (max-width: 768px) {
    margin-top: 40px;
    margin-bottom: 100px;
  }
  @media screen and (max-width: 576px) {
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    @include ul;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  &__item {
    margin: 0 7px;

    a {
      text-decoration: none;
      @extend %text20;
      color: $black-color;
      transition: all 0.25s;
      display: block;
    }

    &:hover {
      a {
        text-decoration: none;
        color: $blue-color;
      }
    }

    &.active {
      a {
        color: $blue-color;
      }
    }
  }

  &__prev,
  &__next {
    opacity: 0.3;
    transition: all 0.25s;

    &:hover {
      opacity: 1;
    }
  }

  &__prev {
    margin-right: 55px;
  }

  &__next {
    margin-left: 55px;
  }

  &__more {
    display: none;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
    transition: all 0.25s;
    text-decoration: none;
    color: $black-color;

    @media screen and(max-width: 576px) {
      display: flex;
    }

    &:hover {
      text-decoration: none;
      color: $blue-color;
    }

    span {
      display: block;
      width: 24px;
      height: 20px;
      margin-left: 10px;
      flex-shrink: 0;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/load-more.svg");
    }
  }
}

.d-none {
  display: none;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 32px;

  &__input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $black-color;
    padding: 0;
    height: 28px;
    @extend %text20;
    line-height: 28px;
    color: $black-color;
    box-shadow: none;
    width: 100%;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
      border-bottom-color: $blue-color;
    }

    &::placeholder {
      color: $gray-color;
    }
  }
}
