.contact {
  padding-top: 100px;

  &-info {
    align-items: stretch;

    .col-3 {
      margin-bottom: 30px;
    }

    &__item {
      background: $white-color;
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      overflow: hidden;
      padding: 40px 20px;
      height: 100%;
      text-align: center;

      a {
        display: block;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.25s;
        @extend %text20;
        margin-bottom: 10px;
        color: $black-color;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          text-decoration: none;
          color: $blue-color;
        }
      }

      p {
        @extend %text20;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__title {
      width: 150px;
      text-align: center;
      margin: 0 auto 10px;
      border-bottom: 3px solid $blue-color;
      padding-bottom: 10px;
      @extend %h4;
      color: $black-color;
    }

    &__icon {
      height: 50px;
      margin: 0 auto 20px;

      img {
        height: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  &-soc {
    margin-bottom: 100px;
    h3 {
      font-family: $font-Proxima;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      color: $blue-color;
      margin: 0 0 10px;
      text-align: center;
    }

    .footer__soc {
      justify-content: center;
    }
  }
}
