.error-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $white-color;
  min-height: 100vh;

  &__title {
    background-color: $blue-color;
    font-weight: bold;
    width: 100%;
    padding-top: 22px;
    @media screen and (max-width: 576px) {
      padding-top: 45px;
    }

    h2 {
      margin-bottom: -120px;
      font-size: 500px;
      line-height: 586px;
      text-align: center;
      letter-spacing: 0.1em;
      color: $white-color;
      @media screen and (max-width: 1200px) {
        font-size: 400px;
        line-height: 486px;
        margin-bottom: -103px;
      }
      @media screen and (max-width: 992px) {
        font-size: 320px;
        line-height: 406px;
        margin-bottom: -92px;
        letter-spacing: 0;
      }
      @media screen and (max-width: 576px) {
        font-size: 170px;
        line-height: 256px;
        margin-bottom: -70px;
        letter-spacing: 0;
      }
    }
  }

  &__content {
    text-align: center;
    padding-top: 76px;
    flex-grow: 1;
    @media screen and (max-width: 576px) {
      padding-top: 60px;
    }

    p {
      color: $blue-color;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      font-family: $font-Proxima;
      margin-bottom: 40px;
      @media screen and (max-width: 992px) {
        font-size: 30px;
        line-height: 38px;
      }
      @media screen and (max-width: 576px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }
}
