.footer {
  padding: 70px 0;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
    background-color: $white-color;
  }

  &__wrap {
    align-items: stretch;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 768px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__col1 {
    @media screen and (max-width: 992px) {
      order: 2;
    }
    @media screen and (max-width: 768px) {
      margin: 0 30px;
      order: 3;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &__col2 {
    @media screen and (max-width: 992px) {
      order: 3;
    }
    @media screen and (max-width: 768px) {
      margin: 0 30px;
      order: 4;
    }
    @media screen and (max-width: 576px) {
      width: 100%;
      text-align: center;
    }
  }

  &__col3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 992px) {
      width: 100%;
      order: 1;
    }

    .footer__copy {
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
  }

  &__col4 {
    @media screen and (max-width: 1400px) {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media screen and (max-width: 992px) {
      order: 4;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      order: 2;
      text-align: center;
      align-items: center;
    }
  }

  &__col5 {
    display: none;
    order: 5;
    margin-top: 40px;
    width: 100%;
    @media screen and (max-width: 992px) {
      display: block;
    }

    .footer__copy {
      margin: 0 auto;
    }
  }

  h4 {
    @extend %h4;
    margin-bottom: 5px;
    color: $black-color;

    @media screen and (max-width: 576px) {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  h6 {
    @extend %h6;
    margin-bottom: 20px;
    color: $black-color;
  }

  &__menu {
    @include ul;
    @media screen and (max-width: 576px) {
      text-align: center;
    }

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li a {
      @extend %text20;
      text-decoration: none;
      color: $black-color;
      transition: all 0.25s;

      &:hover {
        text-decoration: none;
        color: $blue-color;
      }
    }
  }

  &__create {
    align-items: center;

    @media screen and (max-width: 1400px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 40px;
    }

    h4 {
      color: $blue-color;
      text-align: center;
      margin-right: 20px;
      @media screen and (max-width: 1400px) {
        margin: 0 auto 10px;
      }
    }
  }

  &__logo {
    display: block;
    width: 167px;
    margin: 0 auto 15px;

    img {
      width: 100%;
    }
  }

  &__copy {
    text-align: center;

    p {
      @extend %text16;
      font-weight: 300;
      color: $text-color;
      margin-bottom: 0;

      a {
        color: $blue-color;
        text-decoration: none;
        transition: all 0.25s;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__soc {
    @include ul();
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    @media screen and (max-width: 768px) {
      order: 2;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    li {
      flex-shrink: 0;
      margin-right: 25px;
      @media screen and (max-width: 1200px) {
        margin-right: 15px;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    li a {
      display: block;
      width: 40px;
      height: 40px;
    }
  }

  &__contact {
    @media screen and (max-width: 768px) {
      order: 1;
    }

    a {
      display: block;
      text-decoration: none;
      transition: all 0.25s;

      &:hover {
        text-decoration: none;
      }
    }

    .link-mail {
      @extend %text18;
      color: $black-color;

      &:hover {
        color: $blue-color;
      }
    }

    .link-phone {
      @extend %text20;
      line-height: 23px;
      color: $blue-color;
      margin-bottom: 10px;

      &:hover {
        color: $black-color;
      }
    }
  }
}


.cookie {
  padding: 23px 30px;
  background-color: $blue-color;
  position: fixed;
  left: 0;
  bottom: -150px;
  width: 100%;
  z-index: 10;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-name: cookie-open;

  &.cookie-close {
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-name: cookie-close;
  }

  @media screen and (max-width: 576px) {
    padding: 15px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1070px;
    justify-content: space-between;
    margin: 0 auto;

    p {
      font-size: 16px;
      line-height: 1.4;
      color: $white-color;
      margin-bottom: 0;
    }

    .btn-white {
      flex-shrink: 0;
      margin-left: 30px;
    }
  }
}

@keyframes cookie-open {
  from {
    bottom: -150px;
  }

  to {
    bottom: 0;
  }
}
@keyframes cookie-close {
  from {
    bottom: 0;
  }

  to {
    bottom: -150px;
  }
}
