.header {
  &__wrap {
    display: flex;
    align-items: center;
    padding: 15px 0;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 155px;
    @media screen and (max-width: 1200px) {
      width: 140px;
    }
    @media screen and (max-width: 576px) {
      width: 126px;
    }

    img {
      width: 100%;
    }
  }

  &__menu {
    @include ul;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    @media screen and (max-width: 992px) {
      display: none;
    }

    li {
      margin-right: 20px;
      @media screen and (max-width: 1200px) {
        margin-right: 17px;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active a {
        color: $blue-color;
      }
    }

    li a {
      @extend %text20;
      line-height: 23px;
      color: $black-color;
      text-decoration: none;
      transition: all 0.25s;
      @media screen and (max-width: 1200px) {
        font-size: 17px;
      }

      &:hover {
        color: $blue-color;
        text-decoration: none;
      }
    }
  }

  &__contact {
    text-align: right;
    @media screen and (max-width: 992px) {
      display: none;
    }

    a {
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    .link-phone {
      @extend %text20;
      font-weight: 500;
      line-height: 23px;
      margin-bottom: 2px;
      color: $blue-color;
      transition: all 0.25s;
      @media screen and (max-width: 1200px) {
        font-size: 16px;
      }

      &:hover {
        color: $black-color;
      }
    }

    .link-mail {
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $black-color;

      &:hover {
        color: $blue-color;
      }
    }
  }

  &__languages {
    @media screen and (max-width: 1200px) {
      display: none;
    }
    @media screen and (max-width: 992px) {
      display: block;
      margin-right: 40px;
      margin-left: auto;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;

    span {
      position: absolute;
      right: 0;
      display: block;
      background-color: $black-color;
      height: 2.4px;
      border-radius: 2px;

      &:nth-child(1) {
        top: 0;
        width: 16px;
      }

      &:nth-child(2) {
        top: 9px;
        width: 100%;
      }

      &:nth-child(3) {
        top: 17.6px;
        width: 26px;
      }
    }

    @media screen and (max-width: 992px) {
      display: block;
    }
  }
}
