.icon-facebook {
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url("../img/icon-facebook-hover.svg");
  }
}

.icon-instagram {
  background-image: url("../img/icon-instagram.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url("../img/icon-instagram-hover.svg");
  }
}

.icon-linkdin {
  background-image: url("../img/icon-linkdin.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url("../img/icon-linkdin-hover.svg");
  }
}

.icon-twitter {
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url("../img/icon-twitter-hover.svg");
  }
}

.icon-youtube {
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover {
    background-image: url("../img/icon-youtube-hover.svg");
  }
}

.icon-arrow-down {
  background-image: url("../img/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
