.main-banner {
  height: 700px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/banner.png");
  box-sizing: border-box;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__content {
    margin-bottom: 80px;

    h1 {
      @extend %h1;
      color: $blue-color;
      font-weight: $font-Proxima;
      margin-bottom: 30px;
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
    }

    p {
      @extend %text20;
      margin-bottom: 30px;
      @media screen and (max-width: 576px) {
        font-size: 16px;
        br {
          display: none;
        }
      }
    }
  }
}

.main-services {
  margin-bottom: 74px;
  @media screen and (max-width: 768px) {
    margin-bottom: 44px;
  }

  $f: &;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin: 0 -15px;
  }

  &__col {
    flex-shrink: 0;
    width: calc(100% / 3);
    padding: 0 15px;
    margin-bottom: 56px;
    @media screen and (max-width: 992px) {
      width: calc(100% / 2);
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__item {
    display: block;
    text-decoration: none;
    box-shadow: 0px 15px 20px rgba(49, 124, 192, 0.05);
    background: $white-color;
    border: 2px solid $blue-color;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 52px 35px;
    position: relative;
    transition: all 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 1200px) {
      padding: 52px 15px;
    }
    @media screen and (max-width: 768px) {
      padding: 35px 15px;
    }

    &:hover {
      cursor: pointer;
      background-color: $blue-color;

      h3 {
        color: $white-color;
      }

      p {
        color: $white-color;
      }

      #{$f}__price {
        background-color: $white-color;
        color: $blue-color;
      }

      #{$f}__more {
        color: $white-color;

        &:after {
          background-image: url("../img/link-arrow-hover.svg");
          transition: all 0.25s;
          transform: translateX(10px);
        }
      }
    }

    h3 {
      @extend %h4;
      margin: 0 0 10px;
      color: $black-color;
      font-family: $font-Proxima;
      transition: all 0.25s;
    }

    p {
      @extend %text20;
      height: 84px;
      margin: 0 0 10px;
      transition: all 0.25s;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media screen and (max-width: 1200px) {
        height: 120px;
        -webkit-line-clamp: 4;
      }
      @media screen and (max-width: 992px) {
        height: 84px;
      }
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 1.2;
        height: auto;
      }
    }
  }

  &__price {
    position: absolute;
    text-align: center;
    right: 30px;
    top: -26px;
    background: $blue-color;
    border: 2px solid $blue-color;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: $white-color;
    transition: all 0.25s;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 21px;
      top: -24px;
      right: 20px;
    }
  }

  &__more {
    display: table;
    text-decoration: none;
    transition: all 0.25s;
    @extend %text20;
    font-weight: 500;
    line-height: 23px;
    color: $blue-color;
    position: relative;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 21px;
    }

    &:after {
      @include before;
      width: 31px;
      height: 16px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -45px;
      margin: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/link-arrow.svg");
      background-size: contain;
    }
  }
}

.main-stage {
  margin-bottom: 130px;
  @media screen and (max-width: 768px) {
    margin-bottom: 100px;
  }
  $f: &;

  .title-block {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: column;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: calc(100% - 80px);
      width: 8px;
      background-color: $blue-gray-color;
      z-index: 1;
      @media screen and (max-width: 992px) {
        height: calc(100% - 150px);
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }

  &__item {
    padding-bottom: 10px;
    border-bottom: 4px solid rgba(49, 124, 192, 0.3);
    width: calc(50% - 125px);
    flex-shrink: 0;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 1200px) {
      width: calc(50% - 60px);
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 25px;
      display: none;
      position: relative;
    }

    &.active {
      display: block;
    }

    &:nth-child(odd) {
      margin-right: 0;
      margin-left: auto;

      #{$f}__num {
        left: -165px;
        @media screen and (max-width: 1200px) {
          left: -100px;
        }
        @media screen and (max-width: 768px) {
          right: 0;
          left: auto;
        }
      }
    }

    &:nth-child(even) {
      margin-right: auto;
      margin-left: 0;

      #{$f}__num {
        right: -165px;
        top: 0;
        bottom: 10px;
        margin: auto;
        @media screen and (max-width: 1200px) {
          right: -100px;
        }
        @media screen and (max-width: 768px) {
          right: 0;
        }
      }
    }

    &:last-child {
      #{$f}__num {
        top: 50px;
        @media screen and (max-width: 768px) {
          top: 0;
        }
      }
    }

    &:nth-child(2) {
      margin-top: -100px;
      @media screen and (max-width: 992px) {
        margin-top: -170px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }

    &:nth-child(4) {
      margin-top: -100px;
      margin-bottom: 57px;
      @media screen and (max-width: 992px) {
        margin-top: -170px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    &:nth-child(6) {
      margin-top: -100px;
      @media screen and (max-width: 992px) {
        margin-top: -170px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }
  }

  &__num {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    color: $white-color;
    background-color: $blue-gray-color;
    padding: 15px 0;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    position: absolute;
    top: 0;

    @media screen and (max-width: 768px) {
      width: auto;
      height: auto;
      border-radius: 0;
      background-color: transparent;
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      color: $blue-color;
      font-size: 30px;
      line-height: 37px;
    }

    @media screen and (max-width: 576px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__list {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    &--item {
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 50%;
      text-align: center;
      color: $white-color;
      font-weight: 900;
      font-size: 24px;
      line-height: 30px;
      padding: 5px 0;
      background-color: $blue-gray-color;
      cursor: pointer;
      transition: all 0.25s;

      &:hover {
        background-color: $blue-color;
      }

      &.active {
        background-color: $blue-color;
      }
    }
  }

  &__content {
    h3 {
      @extend %h3;
      color: $blue-color;
      margin-bottom: 10px;

      @media screen and (max-width: 576px) {
        font-size: 24px;
        line-height: 29px;
        padding-right: 25px;
      }
    }

    p {
      @extend %text20;
      margin-bottom: 0;

      @media screen and (max-width: 576px) {
        font-size: 16px;
        line-height: 1.2;
      }
    }
  }
}

.main-portfolio {
  margin-bottom: 130px;

  &__wrap {
    .col-2 {
      margin-bottom: 30px;

      @media screen and (max-width: 992px) {
        width: 100%;
      }
    }
  }

  &__item {
    position: relative;
    border: 1px solid $blue-gray-color;
    box-sizing: border-box;
    overflow: hidden;
    height: 420px;
    cursor: pointer;

    $f: &;

    &:hover {
      #{$f}--content {
        opacity: 1;
        visibility: visible;
      }

      #{$f}--image {
        filter: blur(4px);
      }
    }

    &--image {
      @include full-img;
      @include p-absolute;
      z-index: 1;

      img {
        @include full-img;
        @include p-absolute;
        object-fit: cover;
        object-position: center;
      }
    }

    &--content {
      position: absolute;
      width: calc(100% - 50px);
      height: calc(100% - 50px);
      opacity: 0;
      visibility: hidden;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.35s;
      background: rgba(15, 76, 129, 0.8);
      padding: 40px 30px;
      color: $white-color;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:hover {
        opacity: 1;
        visibility: visible;

        #{$f}--image {
          filter: blur(4px);
        }
      }

      p {
        @extend %text20;
        margin: 0;
      }
    }

    &--info {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h5 {
        @extend %h3;
        line-height: 42px;
      }

      p {
        @extend %text20;
        margin: 0;
      }
    }

    &--more {
      box-sizing: border-box;
      border-top: 3px solid #969696;
      position: relative;
      padding-top: 10px;

      &:before {
        @include before;
        width: 34px;
        height: 3px;
        @include p-absolute;
        top: -3px;
        background-color: $white-color;
      }

      a {
        text-decoration: none;
      }
    }
  }
}

.main-team {
  margin-bottom: 130px;

  &__slider {
    position: relative;
  }

  &-slider {
    position: relative;
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;

    .swiper-slide {
      width: 190px;
      height: 270px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      position: relative;

      img {
        @include p-absolute;
        @include full-img;
      }
    }
  }

  &-prev, &-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 39px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    &:after {
      display: none;
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &-prev {
    left: 0;
    background-image: url("../img/slider-arrow-prev.svg");

    &:hover {
      background-image: url("../img/slider-arrow-prev-hover.svg");
    }
  }

  &-next {
    right: 0;
    background-image: url("../img/slider-arrow-next.svg");

    &:hover {
      background-image: url("../img/slider-arrow-next-hover.svg");
    }
  }
}

.main-life {
  margin-bottom: 100px;

  &__image {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    img {
      @include p-absolute;
      @include full-img;
    }

    &.image1 {
      height: 550px;
    }

    &.image2 {
      height: 420px;
    }
  }

  &__slider {
    display: none;
  }
}

.main-about {
  margin-bottom: 110px;
  @media screen and (max-width: 768px) {
    margin-bottom: 90px;
  }

  &__col {
    @include col50();
    text-align: justify;
    @media screen and (max-width: 992px) {
      width: 100%;
    }

    h4 {
      @extend %h4;
      color: $blue-color;
      margin-bottom: 6px;
      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 20px;
      }
    }

    p {
      @extend %text20;
      color: $black-color;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    a {
      @extend %text20;
      font-weight: bold;
      color: $blue-color;
      text-decoration: none;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    ul:not([class]) {
      @include ul;

      li {
        position: relative;
        margin-bottom: 20px;
        padding-left: 14px;
        @extend %text20;
        color: $black-color;
        @media screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 20px;
        }

        &:before {
          @include before;
          @include p-absolute;
          height: 100%;
          width: 3.5px;
          background-color: $blue-color;
        }
      }
    }
  }

  &__advantages {
    position: relative;

    $f: &;

    &:before {
      @include before();
      position: absolute;
      top: 0;
      left: 27px;
      bottom: 0;
      margin: auto;
      width: 6px;
      height: calc(100% - 150px);
      background-color: $blue-gray-color;
      z-index: 1;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &--title {
      @media screen and (max-width: 768px) {
        margin-bottom: 10px;
      }
      #{$f}--num {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }

      @media screen and (max-width: 768px) {
        display: flex;
        align-items: center;
      }
    }

    &--item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    &--num {
      width: 60px;
      height: 60px;
      flex-shrink: 0;
      border-radius: 50%;
      font-weight: bold;
      font-family: $font-Proxima;
      font-size: 40px;
      line-height: 49px;
      text-align: center;
      display: flex;
      align-items: center;
      color: $white-color;
      background-color: $blue-gray-color;
      justify-content: center;
      margin-right: 50px;
      position: relative;
      z-index: 2;
      @media screen and (max-width: 768px) {
        display: none;
        height: 38px;
        width: 38px;
        margin-right: 10px;
        font-size: 20px;
        line-height: 28px;
        padding: 5px;
      }
    }

    &--content {
      h6 {
        @extend %text20;
        font-weight: bold;
        color: $black-color;
        margin-bottom: 6px;
        @media screen and (max-width: 768px) {
          margin-bottom: 0;
          font-size: 16px;
          line-height: 20px;
        }
      }

      p {
        @extend %text20;
        color: $black-color;
        margin-bottom: 0;
        @media screen and (max-width: 768px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
  }
}

.faq {
  margin-bottom: 100px;
  @media screen and (max-width: 992px) {
    margin-bottom: 70px;
  }

  &__wrap {
    margin: 0 -15px;
    flex-wrap: wrap;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__col {
    @include col50();
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }

  &__item {
    margin-bottom: 30px;
    text-align: justify;

    h4 {
      @extend %h4;
      color: $blue-color;
      margin-bottom: 6px;
    }

    p {
      @extend %text20;
      color: $black-color;
      margin-bottom: 0;
    }
  }
}
