.price-list {
  padding-bottom: 100px;
}

.price-item {
  margin-bottom: 30px;
  border: 2px solid $blue-gray-color;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-radius: 8px;

  $f: &;

  &__header {
    background: $white-color;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: $blue-color;

      #{$f}__info {
        h3, p {
          color: $white-color;
        }
      }

      #{$f}__price {
        color: $white-color;
      }

      #{$f}__more {
        p {
          color: $white-color;
        }

        .icon-arrow-down {
          background-image: url("../img/icon-arrow-down-hover.svg");
        }
      }
    }
  }

  &__info {
    width: 50%;
    flex-shrink: 0;
    text-align: justify;

    h3 {
      @extend %h3;
      font-family: $font-Proxima;
      margin-bottom: 5px;
      color: $blue-color;
      transition: all 0.25s;
    }

    p {
      @extend %text20;
      margin-bottom: 0;
      transition: all 0.25s;
    }
  }

  &__price {
    @extend %h4;
    font-weight: 900;
    color: $blue-color;
    transition: all 0.25s;

    span {
      @extend %text20;
      font-weight: 900;
    }
  }

  &__more {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: all 0.25s;

    p {
      @extend %text20;
      font-weight: bold;
      color: $blue-color;
      margin-bottom: 10px;
      transition: all 0.25s;
    }

    .icon-arrow-down {
      width: 24px;
      height: 22px;
    }
  }

  &__body {
  }
}

.calc-type {
  &__wrap {
    .col-3 {
      align-self: stretch;
      margin-bottom: 30px;
    }
  }

  &__item {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    background: $white-color;
    border: 2px solid $blue-gray-color;
    border-radius: 8px;
    transition: all 0.25s;
    padding: 30px 20px;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      border-color: $blue-color;
    }

    &.active {
      color: $blue-color;
      background-color: $blue-color;
      border-color: $blue-color;
      box-shadow: 0px 15px 20px rgba(49, 124, 192, 0.1);

      h4, p {
        color: $white-color;
      }
    }

    h4 {
      @extend %h4;
      color: $blue-color;
      text-align: center;
      font-family: $font-Proxima;
      margin-bottom: 10px;
    }

    p {
      @extend %text20;
      text-align: justify;
      margin-bottom: 0;
    }
  }
}

.calc-modules {
  $f: &;

  &__wrap {
  }

  &__item {
    margin-bottom: 30px;
    padding: 30px 20px;
    background: $white-color;
    border: 2px solid $blue-gray-color;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.35s;

    &.active, &:hover {
      background-color: $blue-color;

      #{$f}__title {
        h5, p {
          color: $white-color;
        }
      }

      #{$f}__text {
        p {
          color: $white-color;
        }
      }

      #{$f}__price {
        color: $white-color;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    h5 {
      @extend %h4;
      margin-bottom: 0;
      color: $blue-color;
      transition: all 0.35s;
    }

    p {
      @extend %h4;
      margin-bottom: 0;
      color: $blue-color;
      transition: all 0.35s;
    }
  }

  &__text {
    p {
      @extend %text20;
      margin-bottom: 0;
      transition: all 0.35s;
    }
  }

  &__price {
    display: none;
    transition: all 0.35s;
  }
}

.calc-sum {
  background-color: $blue-color;
  padding: 15px 0;
  margin-bottom: 130px;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    @extend %h4;
    color: $white-color;
    margin-bottom: 0;
    margin-left: 40px;

    span {
      @extend %text20;
    }
  }
}

.form-call {
  margin-bottom: 130px;

  &__wrap {
    margin: 0 auto;
    width: 740px;
    background: $white-color;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 70px 0;

    h2 {
      @extend %h2;
      text-align: center;
      color: $blue-color;
      margin-bottom: 37px;
    }
  }

  .form-group {
    max-width: 420px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn {
    margin: 40px auto 0;
  }

  &__info {
    max-width: 420px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 0;

    a {
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: $black-color;
      transition: all 0.25s;
      &:hover {
        text-decoration: none;
        color: $blue-color;
      }
    }

    .link-mail {
      font-size: 18px;
      line-height: 23px;
    }
    .link-phone {
      font-size: 20px;
      line-height: 23px;
    }
  }
}
