.services {
  &__list {
    margin-bottom: 100px;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    border: 2px solid $blue-gray-color;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 30px 40px;
    background: $white-color;
    text-decoration: none;
    color: initial;
    align-items: center;
    transition: all 0.25s;

    $f: &;

    &:hover {
      text-decoration: none;
      color: $white-color;
      background-color: $blue-color;

      #{$f}--info {
        h3, p {
          color: $white-color;
        }
      }

      #{$f}--price {
        color: $white-color;
      }

      #{$f}--more {
        color: $white-color;

        span {
          background-image: url("../img/link-arrow-hover.svg");
        }
      }
    }

    &--info {
      width: 50%;
      flex-shrink: 0;
      text-align: justify;

      h3 {
        @extend %h3;
        font-family: $font-Proxima;
        margin-bottom: 5px;
        color: $blue-color;
        transition: all 0.25s;
      }

      p {
        @extend %text20;
        margin-bottom: 0;
        transition: all 0.25s;
      }
    }

    &--price {
      @extend %h4;
      font-weight: 900;
      color: $blue-color;
      transition: all 0.25s;
      margin: auto;

      span {
        @extend %text20;
        font-weight: 900;
      }
    }

    &--more {
      display: flex;
      align-items: center;
      @extend %text20;
      color: $blue-color;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        cursor: pointer;
        color: $blue-color;

        span {
          margin-left: 35px;
        }
      }

      span {
        display: block;
        height: 22px;
        width: 31px;
        margin-left: 22px;
        background-image: url("../img/link-arrow.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 0.25s;
      }
    }
  }
}
