.vacancies {
  padding-top: 100px;

  &__wrap {
    align-items: stretch;
    margin-bottom: 100px;

    .col-3 {
      margin-bottom: 30px;
    }
  }

  &__item {
    height: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    background: $white-color;
    color: $black-color;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    transition: all 0.25s;

    &:hover {
      box-shadow: 0px 15px 20px rgba(49, 124, 192, 0.1);
      text-decoration: none;
      color: $black-color;

      .link-more {
        cursor: pointer;
        span {
          margin-left: 35px;
        }
      }
    }

    h5 {
      @extend %h4;
      margin-bottom: 10px;
      color: $blue-color;
    }

    p {
      @extend %text20;
      margin-bottom: 10px;
      min-height: calc(28px * 5);
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
  }

  &__date {
    @extend %text18;
    margin-bottom: 10px;

    b {
      font-weight: 700;
    }
  }

  &__more {
    color: $blue-color;
    margin-top: auto;
    &:hover {
      color: $blue-color;
    }

    span {
      height: 16px;
      width: 31px;
      background-image: url("../img/link-arrow.svg");
    }
  }

  &__content {
    padding-bottom: 130px;
    h3 {
      text-align: center;
      font-weight: bold;
      font-size: 36px;
      font-family: $font-Proxima;
      line-height: 44px;
      margin-bottom: 40px;
      color: $blue-color;
    }
    h6 {
      @extend %text20;
      font-weight: bold;
      margin-bottom: 10px;
      color: $black-color;
    }
    p {
      @extend %text20;
      margin-bottom: 20px;
      color: $black-color;
    }
    ol {
      margin-bottom: 20px;
      padding: 0;
      padding-left: 40px;
      border-left: 3px solid $blue-color;
      list-style: decimal;
      li {
        @extend %text20;
        color: $black-color;
        margin: 0;
      }
    }

    ul {
      margin-bottom: 20px;
      padding: 0;
      padding-left: 20px;
      border-left: 3px solid $blue-color;
      list-style: none;
      li {
        @extend %text20;
        color: $black-color;
        margin: 0;
      }
    }

    .btn {
      margin-top: 40px;
    }
  }
}
