$font-raleway: 'Raleway', sans-serif;

$white-color: #ffffff;
$black-color: #000000;
$black-color2: #292929;
$text-color: #3F3F3F;
$gray-color: #858585;

$blue-color: #317CC0;
$blue-gray-color: #A5C4DF;

$font-Roboto: 'Roboto', sans-serif;

$font-Proxima: 'Proxima Nova';

%h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
  margin: 0;
  @media screen and (max-width: 1200px) {
    font-size: 54px;
  }
  @media screen and (max-width: 992px) {
    font-size: 48px;
  }
}

%h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  @media screen and (max-width: 768px) {
    font-size: 36px;
    line-height: 44px;
  }
}

%h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
}

%h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

%h6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
}

%text20 {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

%text18 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
}

%text16 {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.3;
}

@mixin ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin before {
  content: '';
  display: block;
}

@mixin flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin col50 {
  width: 50%;
  padding: 0 15px;
  flex-shrink: 0;
}

@mixin full {
  width: 100%;
  height: 100%;
}

@mixin p-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin full-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.btn {
  display: block;
  width: max-content;
  border: none;
  text-decoration: none;
  text-align: center;
  color: $white-color;
  border-radius: 3px;
  box-sizing: border-box;
  transition: all 0.25s;

  &:focus, &:active {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: $white-color;
  }
}

.btn-blue {
  background: $blue-color;
  border-radius: 5px;
  color: $white-color;
  @extend %text20;
  line-height: 23px;
  padding: 12px 34px;
  border: 2px solid $blue-color;

  &:hover {
    background-color: $white-color;
    color: $blue-color;
  }
}

.btn-white {
  background: $white-color;
  border-radius: 5px;
  color: $blue-color;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 7px 22px;
  border: 2px solid $white-color;

  &:hover {
    background-color: $blue-color;
    color: $white-color;
  }
}


.link-more {
  display: flex;
  align-items: center;
  @extend %text20;
  color: $white-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: $white-color;

    span {
      margin-left: 35px;
    }
  }

  span {
    display: block;
    height: 22px;
    width: 31px;
    margin-left: 22px;
    background-image: url("../img/link-more-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.25s;
  }
}

.link-link {
  display: block;
  height: 40px;
  width: 40px;
  background-image: url("../img/link-linkdin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &:hover {
    background-image: url("../img/link-linkdin-hover.svg");
  }
}
